http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/

## Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from mlxtend.frequent_patterns import apriori
%matplotlib inline

plt.rcParams["figure.figsize"] = (15,10)

## Import Data

In [2]:
df = pd.io.parsers.read_csv('Schwab.csv', dtype={'ACCT_NUM':'str',
                                                 'MO_NUM':'str',
                                                 'ZIP_CODE': 'str'})
df.head()

,ACCT_NUM,MO_NUM,ORG_NAME,SHARE_CLASS,TRANSACTION_CLASS,COMP_TYPE,TRANSACTION_TYPE,AMOUNT,ZIP_CODE
0,1000129,201701,"Charles Schwab & Co., Inc",A,Retail,Commissions,Redemption,44339861,60565
1,1000128,201701,"Charles Schwab & Co., Inc",F-1,Retail,Performance Based,Exchange Out,94732923,60565
2,1000128,201701,"Charles Schwab & Co., Inc",U1,Retail,Commissions,Sales,34144231,60565
3,1000123,201701,"Charles Schwab & Co., Inc",R-2,Insurance,Percent AUM,Exchange In,66752374,90210
4,1000127,201701,"Charles Schwab & Co., Inc",F-2,Insurance,Fixed Fee,Exchange In,66375012,92620

## Exploratory Data Analysis

In [3]:
df.describe()

             AMOUNT
count  2.834000e+03
mean   5.018513e+07
std    2.880106e+07
min    1.008682e+06
25%    2.591200e+07
50%    4.941198e+07
75%    7.524250e+07
max    9.999732e+07

In [4]:
df.shape

(2834, 9)

In [5]:
headers = sorted(df.columns.values)
headers

['ACCT_NUM',
 'AMOUNT',
 'COMP_TYPE',
 'MO_NUM',
 'ORG_NAME',
 'SHARE_CLASS',
 'TRANSACTION_CLASS',
 'TRANSACTION_TYPE',
 'ZIP_CODE']

## Data Preprocessing

NOTE: Removing **`AMOUNT`, `ORG_NAME`** columns

In [6]:
preprocess_columns = ['SHARE_CLASS', 'TRANSACTION_CLASS', 'ZIP_CODE', 'ACCT_NUM','MO_NUM',  'COMP_TYPE', 'TRANSACTION_TYPE'] #'ZIP_CODE' 'ACCT_NUM','MO_NUM',  'COMP_TYPE', 'TRANSACTION_TYPE'

In [7]:
prep_df = df[preprocess_columns]
prep_df.head()

,SHARE_CLASS,TRANSACTION_CLASS,ZIP_CODE,ACCT_NUM,MO_NUM,COMP_TYPE,TRANSACTION_TYPE
0,A,Retail,60565,1000129,201701,Commissions,Redemption
1,F-1,Retail,60565,1000128,201701,Performance Based,Exchange Out
2,U1,Retail,60565,1000128,201701,Commissions,Sales
3,R-2,Insurance,90210,1000123,201701,Percent AUM,Exchange In
4,F-2,Insurance,92620,1000127,201701,Fixed Fee,Exchange In

In [8]:
prep_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 7 columns):
SHARE_CLASS          2834 non-null object
TRANSACTION_CLASS    2834 non-null object
ZIP_CODE             2834 non-null object
ACCT_NUM             2834 non-null object
MO_NUM               2834 non-null object
COMP_TYPE            2834 non-null object
TRANSACTION_TYPE     2834 non-null object
dtypes: object(7)
memory usage: 155.1+ KB

### Get Dummy Variables

In [9]:
prep_dummies_df = pd.get_dummies(prep_df)
prep_dummies_df.head()

,SHARE_CLASS_A,SHARE_CLASS_F-1,SHARE_CLASS_F-2,SHARE_CLASS_R-1,SHARE_CLASS_R-2,SHARE_CLASS_R-6,SHARE_CLASS_U1,SHARE_CLASS_U2,TRANSACTION_CLASS_Institutional,TRANSACTION_CLASS_Insurance,...,MO_NUM_201802,MO_NUM_201803,COMP_TYPE_Commissions,COMP_TYPE_Fixed Fee,COMP_TYPE_Percent AUM,COMP_TYPE_Performance Based,TRANSACTION_TYPE_Exchange In,TRANSACTION_TYPE_Exchange Out,TRANSACTION_TYPE_Redemption,TRANSACTION_TYPE_Sales
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0

In [10]:
x = True
y = False
print(bool(x))

True

In [11]:
prep_dummies_df = prep_dummies_df.replace({1:x, 0:y})
prep_dummies_df.head()

,SHARE_CLASS_A,SHARE_CLASS_F-1,SHARE_CLASS_F-2,SHARE_CLASS_R-1,SHARE_CLASS_R-2,SHARE_CLASS_R-6,SHARE_CLASS_U1,SHARE_CLASS_U2,TRANSACTION_CLASS_Institutional,TRANSACTION_CLASS_Insurance,...,MO_NUM_201802,MO_NUM_201803,COMP_TYPE_Commissions,COMP_TYPE_Fixed Fee,COMP_TYPE_Percent AUM,COMP_TYPE_Performance Based,TRANSACTION_TYPE_Exchange In,TRANSACTION_TYPE_Exchange Out,TRANSACTION_TYPE_Redemption,TRANSACTION_TYPE_Sales
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,True
3,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,True,False,True,False,False,False
4,False,False,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False

## Apriori / Association Rule Mining

In [12]:
apriori_df = apriori(prep_dummies_df, min_support=0.01, use_colnames=True).sort_values(by='support', ascending=False).reset_index(drop=True)
apriori_df['length'] = apriori_df['itemsets'].apply(lambda x: len(x))
apriori_df

       support                                           itemsets  length
0     0.337685                      (TRANSACTION_CLASS_Insurance)       1
1     0.334157                  (TRANSACTION_CLASS_Institutional)       1
2     0.328158                         (TRANSACTION_CLASS_Retail)       1
3     0.253705                      (TRANSACTION_TYPE_Redemption)       1
4     0.253352                            (COMP_TYPE_Commissions)       1
5     0.251588                     (TRANSACTION_TYPE_Exchange In)       1
6     0.250176                            (COMP_TYPE_Percent AUM)       1
7     0.249824                      (COMP_TYPE_Performance Based)       1
8     0.249118                    (TRANSACTION_TYPE_Exchange Out)       1
9     0.246648                              (COMP_TYPE_Fixed Fee)       1
10    0.245589                           (TRANSACTION_TYPE_Sales)       1
11    0.175018                                   (ZIP_CODE_92016)       1
12    0.174312                                   (ZIP_CODE_60565)       1
13    0.166902                                   (ZIP_CODE_92618)       1
14    0.164079                                   (ZIP_CODE_60078)       1
15    0.160550                                   (ZIP_CODE_92620)       1
16    0.159139                                   (ZIP_CODE_90210)       1
17    0.129852                                  (SHARE_CLASS_R-1)       1
18    0.129146                                    (SHARE_CLASS_A)       1
19    0.126323                                   (SHARE_CLASS_U1)       1
20    0.125618                                  (SHARE_CLASS_F-2)       1
21    0.125618                                  (SHARE_CLASS_R-2)       1
22    0.124206                                   (SHARE_CLASS_U2)       1
23    0.121736                                  (SHARE_CLASS_F-1)       1
24    0.117502                                  (SHARE_CLASS_R-6)       1
25    0.109033                                 (ACCT_NUM_1000126)       1
26    0.108327                                 (ACCT_NUM_1000123)       1
27    0.103387                                 (ACCT_NUM_1000127)       1
28    0.102682                                 (ACCT_NUM_1000122)       1
29    0.100917                                 (ACCT_NUM_1000128)       1
...        ...                                                ...     ...
1153  0.010233  (TRANSACTION_CLASS_Insurance, COMP_TYPE_Percen...       3
1154  0.010233  (ZIP_CODE_90210, TRANSACTION_CLASS_Institution...       3
1155  0.010233  (SHARE_CLASS_A, TRANSACTION_CLASS_Institutiona...       3
1156  0.010233                     (SHARE_CLASS_A, MO_NUM_201706)       2
1157  0.010233  (TRANSACTION_CLASS_Insurance, TRANSACTION_TYPE...       3
1158  0.010233  (COMP_TYPE_Fixed Fee, TRANSACTION_CLASS_Insura...       3
1159  0.010233  (TRANSACTION_CLASS_Insurance, ZIP_CODE_90210, ...       3
1160  0.010233  (COMP_TYPE_Fixed Fee, TRANSACTION_CLASS_Insura...       3
1161  0.010233  (TRANSACTION_CLASS_Insurance, ACCT_NUM_1000126...       3
1162  0.010233  (ACCT_NUM_1000128, TRANSACTION_CLASS_Insurance...       3
1163  0.010233  (SHARE_CLASS_R-2, TRANSACTION_TYPE_Redemption,...       3
1164  0.010233  (COMP_TYPE_Fixed Fee, TRANSACTION_CLASS_Retail...       3
1165  0.010233  (TRANSACTION_CLASS_Retail, TRANSACTION_TYPE_Ex...       3
1166  0.010233  (ACCT_NUM_1000128, TRANSACTION_CLASS_Retail, T...       3
1167  0.010233  (TRANSACTION_CLASS_Insurance, SHARE_CLASS_A, C...       3
1168  0.010233  (TRANSACTION_TYPE_Exchange In, COMP_TYPE_Perfo...       3
1169  0.010233  (COMP_TYPE_Percent AUM, TRANSACTION_TYPE_Excha...       3
1170  0.010233  (COMP_TYPE_Fixed Fee, TRANSACTION_TYPE_Exchang...       3
1171  0.010233  (TRANSACTION_CLASS_Insurance, TRANSACTION_TYPE...       3
1172  0.010233  (COMP_TYPE_Percent AUM, TRANSACTION_CLASS_Reta...       3
1173  0.010233  (SHARE_CLASS_F-2, TRANSACTION_CLASS_Institutio...       3
1174  0.010233  (TRANSACTION_CLASS_Insurance, TRANSACTION_TYPE...       3
1175  0.010233  (SHARE_CLASS_F-2, TRANSACTION_CLASS_Retail, CO...       3
1176  0.010233  (SHARE_CLASS_F-2, TRANSACTION_CLASS_Retail, TR...       3
1177  0.010233  (SHARE_CLASS_F-2, COMP_TYPE_Commissions, TRANS...       3
1178  0.010233  (SHARE_CLASS_R-1, TRANSACTION_CLASS_Institutio...       3
1179  0.010233  (SHARE_CLASS_R-1, TRANSACTION_CLASS_Retail, CO...       3
1180  0.010233  (TRANSACTION_CLASS_Insurance, SHARE_CLASS_R-2,...       3
1181  0.010233  (TRANSACTION_CLASS_Retail, MO_NUM_201708, TRAN...       3
1182  0.010233  (TRANSACTION_TYPE_Exchange In, COMP_TYPE_Perfo...       3

[1183 rows x 3 columns]

In [13]:
filtered_apriori_df = apriori_df[ (apriori_df['length'] >= 2) & (apriori_df['support'] >= 0.01) ]
filtered_apriori_df = filtered_apriori_df.reset_index(drop=True)

In [15]:
filtered_apriori_df.to_excel('apriori_schwab_output.xlsx')